.Welc-box {
    background: linear-gradient(42deg, rgb(221, 93, 166) 30%, rgb(87, 198, 72) 80%);
    padding: 20px;
    margin-bottom: 20px;
    border: 5px solid #36e1a5;
    border-radius: 8px;
    text-align: center;
    font-size: 18px; 
    font-weight: bold;
    line-height: 2;
  }

  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    text-align: center;
  }
  
  .container {
    display: flex;
    justify-content: space-evenly;
  }
  
  .left-section,
  .right-section {
    flex: 1;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: rgb(176, 225, 241);
  }
  
  input[type="text"],
  select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }

  th, td {
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {background-color: #f2f2f2;}

  .nameColumn{
    width: 35%;
  }

  .authorColumn{
    width: 30%;
  }

  .dateColumn{
    width: 25;
  }

  .isbnColumn{
    width: 25;
  }