.footer-container {
    bottom: 0;
    left: 0;
    background-color: #414549;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}



.footer-component {
    padding: 20px;
}

.Box {
    background: linear-gradient(42deg, rgb(290, 104, 153) 0%, rgb(0, 153, 204) 100%, rgb(125, 125, 190) 30%);
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}


.FooterItem {
    text-align: center;
    margin-bottom: 0px;
}

.Heading {
    color: #fff;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 18px;
}

.FooterLink {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    display: block;
    margin-bottom: 10px;
}

.Disclaimer {
    margin-top: 20px;
    font-size: 14px;
    color: white;
}

.FootDis {
    text-align: center;
    color: white;
}
